# An * ensures that everything will be ignored.
*

# Whitelist
!*.yaml
!.gitignore
!*.md
!/node-red/flows.json
!*.png
!/www/fp/*

# Ignore folders.
.storage
.cloud
.google.token

# Security
ip_bans.yaml
secrets.yaml
known_devices.yaml